@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,200&display=swap');
*{
  box-sizing: border-box;
}

body,html,h1,h2,h3,h4,h5,h6{
  margin:0px  !important;
  padding:0px !important;
  overflow-x: hidden;
}

.header-logo_hambuger{
  display: none;
}


.header-container{
  width: 100%;
  background-color: rgb(237, 236, 232);
}

.header-navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  
}

.header-menu img {
  width: 30px;
  height: 20px;
  color: #282828;
}

.header-menu_item{
  padding: 13px;
  font-family: 'Josefin Sans', sans-serif;
  color: #8c8c8c;
  font-size: 15px;
  cursor: pointer;
  font-weight: 800;
  
}

.header-menu_item:hover{
  color: black;
}

.header-logo_brand img{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 150px;
}

.header-banner_container{
  width: 100%;
}

.header-banner_content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner-logo_content-brand img {
  width: 150px;
  height: 150px;
  margin-top: 20px;
}

.header-banner_text{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top:30px
}

.header-banner_text p {
  width: 600px;
  font-size: 18px;
  font-weight: 600;
  color:#333;
  text-align: center;
  line-height: 1.6em;
  font-family: 'Josefin Sans', sans-serif;
}

.header-banner_title{
  color: #333;
}

.header_banner_navigation{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.banner-menu_item{
  padding: 13px;
  font-family: 'Josefin Sans', sans-serif;
  color: #8c8c8c;
  font-size: 15px;
  cursor: pointer;
  font-weight: 800;
}

.banner-menu_item:hover{
  color:#333
}

/* ----------- Responsive  - Header */

@media only screen and (max-width: 768px) {
  .header-container{
    overflow: hidden;
    width: 100%;
  }

  .header-logo_hambuger{
    position: absolute;
    top:16px;
    display: block;
  }

  .header-menu_item{
    display: none; 
  }

  .header-banner_text p {
    width: 400px;
  }
}


/* ----------- Main --------- */

.main-container{
 width: 100%;
}

.main-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.main-cart_container{
  padding: 20px 5px;
  margin: 30px 0px 20px 30px;
  border: 1px solid rgb(237, 236, 232);
  box-shadow: 3px 6px 10px 5px rgba(0, 0, 0, 0.2);
  line-height: 1.2em;
}

.main-cart_image{
  position: relative;
}

.main-cart_image img {
  width: 300px;
  height: 300px;
  cursor: pointer;
  transition: all ease-in-out 600ms;
}

.main-cart_image::after{
  position: absolute;
  top:0px;
  left: 0;
  display: block;
  content: "";
 
  width: 100%;
  height: 100%;
}

.main-cart_image:hover::after{
   left:0px;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   transition: all ease-in-out 600ms;
   cursor: pointer;
}

.main-cart_image:hover img{
  transform: scale(1.3);
}


/* .main-cart_image .img-top{
  display: none;
  position: absolute;
  top:0px;
  left:0px;
  z-index: 9999;
}

.main-cart_image:hover .img-top{
  display: inline;
} */

.main-cart_title{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/* --------------- Footer ------------ */
.footer-container{
  background-color: #d9c7aa;
}

.footer-logo_brand img{
  margin: 30px ;
}

.footer-content{
  display: flex;
}

.footer-navigation{
  list-style-type: none;
}

.footer-navigation .footer-navigation_title {
  border-bottom: 1px solid rgba(0,0,0,.1);
  width: 300px;
  font-size: 15px;
  padding: 15px;
  color:#333;
  font-weight: 600;
}

.footer-navigation p {
  width: 300px;
  line-height: 1.5em;
  color:#333;
  font-size: 15px;
  /* font-family: 'Josefin Sans', sans-serif; */
}

.footer-menu_item{
  line-height: 1.2em;
  /* width: 300px; */

  padding: 13px;
  font-family: 'Josefin Sans', sans-serif;
  color: black;
  font-size: 15px;
  cursor: pointer;
  font-weight: 800;
}


/* --------- Responsive - Footer */

@media only screen and (max-width: 768px) {
 .footer-info{
   display: flex;
   justify-content: center;
 }

.footer-navigation{
  width: 135px;
}

.footer-navigation p{
  margin:0px;
  padding-right: 20px ;
  font-size: 15px;
  width: 155px;
 

}

.footer-navigation .footer-navigation_title{
  border-bottom: 1px solid rgba(0,0,0,.1);
  width: 118px;
  font-size: 14px;
  color:#333;
  font-weight: 600;
}


  .footer-menu_item{
    width: 150px;
    font-size: 14px;
    padding:0px;
    line-height: 1.5em;
  }

}



